*{
    margin: 0%;
    padding: 0vh;
    box-sizing: border-box;
}

body{
    background-image: url(bgp5.png);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px 35px;
}

.menus{
    list-style: none;
    color: white;
    display: flex;
    gap: 30px;
    margin-right: 75vh;
    cursor: pointer;
}

.small-btn{
    padding: 8px 15px;
    background-color: purple;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.logo{
    cursor: pointer;
}

.hero{
    text-align: center;
    margin-top: 15vh;
}

.hero h1{
    color: white;
    font-weight: 900;
    font-size: 100px;
}

.hero p{
    color: white;
    font-weight: 700;
    font-size: 23px;
    margin-top: 1vh;
}

.big-btn{
    color: white;
    background-color: purple;
    margin-top: 7vh;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}